src/main/mule/implementations/get-movies.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-moviesFlow" doc:id="9fed4b58-40fd-4f0b-a300-60de68076d82" >
		<logger level="INFO" doc:name="Logger" doc:id="4dd35f87-7f33-4e20-a8dd-a69a111b2564" message="Get request received"/>
		<set-variable value="#[attributes.requestPath]" doc:name="Set Request Path" doc:id="4ec04fa0-872e-4845-a6d0-0ad6e2c7d9fa" variableName="vars.reqpath" />
		<set-variable value="#[attributes.headers.host]" doc:name="Set Host" doc:id="03fbf957-1bdd-4dba-8cb9-a6efe1db3131" variableName="vars.host" />
		<db:select doc:name="Get Movies" doc:id="01d0a999-b82b-4d67-aaee-2d15731ed24d" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT id, title, description, released, duration, gross, created_at, updated_at from movie]]></db:sql>
		</db:select>
		<ee:transform doc:name="Set Response" doc:id="a3c8dc8a-247b-4ad3-bbce-e7eee96de859">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  links: {
    self: "http://" ++ vars.'vars.host' ++ "/" ++ app.name ++ vars.'vars.reqpath'
  },
  data: [
	(payload map {
		"type": "movies",
		id: $.id as Number,
		attributes:{
			title: $.title as String,			
			description: $.description as String,
			released: $.released as Number,
			duration: $.duration as Number,
			gross: $.gross as Number,
			timestamps: {
				created: $.created_at,
				updated: $.updated_at,
			}
		}		
	})
  ] 	  	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Flow Complete" doc:id="1e677963-4241-4fe6-b920-ccdc2eae04ed" message="The flow has completed" />
	</flow>
</mule>
