src/main/mule/implementations/post-movie.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e1f465e9-b12d-4d1c-a59a-433db3f9c7c8" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${secure::db.password}" database="movie" >
			<db:connection-properties >
				<db:connection-property key="useSSL" value="false" />
			</db:connection-properties>
		</db:my-sql-connection>
	</db:config>
	<flow name="post-movieFlow" doc:id="5902d33c-1b7b-458d-8917-64946081d04d" >
		<logger level="INFO" doc:name="Post Received" doc:id="ebee02f4-abfe-4879-9345-30be76e7f08c" message="Post request received #[message]"/>
		<ee:transform doc:name="Transform Message" doc:id="b58d444c-4e2a-421d-ada7-12020b71f5ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  links: {
    self: "http://.../movies/1"
  },
  data: {
    "type": "movies",
    id: "1",
    attributes: {
      title: "The Terminator",
      description: "blah",
      year: 1977,
      duration: 102,
      languages: [
        "English"
      ],
      genres: [
        "Sci-Fi", 
        "Action"
      ],
      gross: 1234212.232,
      timestamps: {
        created: "2014-01-01T23:28:56.782Z",
        updated: "2014-01-01T23:28:56.782Z"
      }
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="b37bc431-be2f-4f23-8958-040156c21cc8" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO movie (title, description, released, duration, gross) VALUES (:movie_title, :movie_desc, :movie_rel, :movie_dur, :movie_gross)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	movie_title: payload.data.attributes.title,
	movie_desc: payload.data.attributes.description,
	movie_rel: payload.data.attributes.released,
	movie_dur: payload.data.attributes.duration,
	movie_gross: payload.data.attributes.gross
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
